@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --black: #1b1d29;
    --white: #fff;
    --btn-red: #fe4c13;
    --shadow: #cccea7;

}


header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky
{
    padding: 5px 100px;
    background: #fff;
}

header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}


.title{
    text-align: center;
    color: #fff;
    margin-top: 250px;
    font-weight: 400px;
}

.sign-in-btn{
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #ccc;
    cursor: pointer;
}

.sign-in-btn:hover{
    background: #fff;
}

.signed-in-btn{
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #fe4c13;
    cursor: pointer;
}

.election-description{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 400px;
    justify-content: center;
    padding: 20px;
}

main{
    height: 100%;
}

.row{
    margin-left: 90px;
    margin-top: 40px;
   
}

.col{
    margin-top: 20px;
}

.cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
}

.card{
    width: 25rem;
    border: 2px solid var(--black);
    overflow: hidden;
    box-shadow: 15px 15px 6px var(--shadow);
    transition: all 0.5s ease;
    cursor: pointer;
}

.card:first-of-type{
    margin-bottom: 5rem;
}

.card-image{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
    vertical-align: middle;
}

.card-info{
    display: flex;
    justify-content: space-evenly;
    background: var(--white);
    color: var(--black);
    padding: 2rem 0;
}

.candidate-votes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.votes-number{
    font-weight: 700;
    font-size: 2.5rem;
}

.votes-text{
    font-size: 1rem;
    font-weight: 600;
}

.line{
    width: 0.1rem;
    background: var(--black);
}

.candidate-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.candidate-name{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.candidate-party{
    font-size: 1rem;
    font-weight: 600;
}

.button{
    position: relative;
    padding: 10px 22px;
    background: #000;
    border-radius: 6px;
    color: #fe4c13;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.button:active{
    transform: scale(0.96);
}

.button::before,
.button::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}


.card-btn{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0;
    color: var(--white);
    cursor: pointer;
    border-top: 2px solid var(--black);
    transition: all 0.5s ease;
    background: var(--btn-red);

}

/*Styles for devices that have width at least 768px*/
@media screen and (min-width: 768px){
    .cards{
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        padding: 0;
        width: 85%;
        margin: 0 auto;
    }

    .card{
        width: 30rem;
    }

    .card:first-of-type{
        margin-bottom: 0;
    }

    .card-image{
        width: 30rem;
        height: 26rem;
    }

    .votes-number{
        font-size: 3.5rem;
    }

    .votes-text{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .candidate-name{
        font-size: 2rem;
    }

    .candidate-party{
        font-size: 1.1rem;
    }

    .card-btn{
        font-size: 2rem;
    }
}

.card label{
    cursor: pointer;
}

.card label input[type="checkbox"]{
    display: none;
}

.card label span{
    position: relative;
    display: inline-block;
    background: #424242;
    padding: 15px 30px;
    color: #fe4c13;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.card label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:rgba(255,255,255, .1);
}

.card label input[type="checkbox"]:checked ~ span
{
    background: #fe4c13;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container div{
    margin: 10px;
}

.container div label{
    cursor: pointer;
}

.container div label input[type="checkbox"]{
    display: none;
}

.container div label span{
    position: relative;
    display: inline-block;
    background: #424242;
    padding: 15px 30px;
    color: #fe4c13;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.container label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background:rgba(255,255,255, .1);
}

.container label input[type="checkbox"]:checked ~ span
{
    background: #fe4c13;
    color: #fff;
}

.container .confirm-vote{
    background: #424242;
    padding: 15px 30px;
    color: #fe4c13;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}


/*Styles for devices that have width at least 1024px*/
@media screen and (min-width: 1024px){
    .cards{
        width: 70%;
    }

    .card:hover{
        transform: translateY(-2rem);
    }

    .card:hover .card-btn{
        font-size: 2.5rem;
    }

    .btn:hover{
        background: var(--btn-red-hover);
    }
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, .2); /* Kolor tła stopki */
    color: #fff; /* Kolor tekstu stopki */
    padding: 3px 0; /* Wewnętrzny odstęp stopki */
    text-align: center; /* Wyśrodkowanie tekstu */
    display: relative;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}
