{% extends 'election/base.html' %}
{% block content %}
{% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
    <section class="about">
        <div class="main">
            <img src="{% static 'images/afroroger.jpg' %}">
            </div class="about-text">
                <h1>Adrian Radomski</h1>
                <h5>Backend <span>Creator</span></h5>
                <p>Tutaj dodaj swój opis</p>
                <button type="button"  onclick="window.location.href='https://github.com/adrianapps'">Github</button>
                <img src="{% static 'images/pakupek.jpg' %}">
            </div class="about-text">
                <h1>Adam Akimowicz</h1>
                <h5>Frontend & Backend <span>Creator</span></h5>
                <p>My name is Adam Akimowicz aka 'pakupek', a student of semester 4 in the field of Computer Science at the Bialystok University of Technology.On this application I am responsible for the visual aspect as well as for small functionalities in the backend.<p>
                I've never dealt with frontend before, I hope that my fun with the graphic design of the website will not discourage you. If anyone is interested in me, feel free to contact me on the attached social media. 
                </p>
                <button type="button" onclick="window.location.href='https://github.com/pakupek'">Github</button>
            </div>
            <img src="{% static 'images/github_default.png' %}">
            </div class="about-text">
                <h1>Mateusz Szelkowski</h1>
                <h5>Project <span>Designer</span></h5>
                <p>Tutaj dodaj swój opis</p>
                <button type="button"  onclick="window.location.href='https://github.com/szel0'">Github</button>
            </div>
        </div>
    </section>
{% endblock %}