{% extends 'election/base.html' %}
{% block content %}
{% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
    <section class="about">
        <div class="main">
            <img src="{% static 'images/afroroger.jpg' %}">
            </div class="about-text">
                <h1>Adrian Radomski</h1>
                <h5>Backend <span>Creator</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis lectus ut arcu ultricies, in rutrum lorem tempus. Sed venenatis justo a dictum iaculis. Curabitur tincidunt quam eu ipsum commodo, ac hendrerit tortor bibendum.</p>
                <button type="button"  onclick="window.location.href='https://github.com/adrianapps'">Github</button>
                <img src="{% static 'images/pakupek.jpg' %}">
            </div class="about-text">
                <h1>Adam Akimowicz</h1>
                <h5>Frontend & Backend <span>Creator</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis lectus ut arcu ultricies, in rutrum lorem tempus. Sed venenatis justo a dictum iaculis. Curabitur tincidunt quam eu ipsum commodo, ac hendrerit tortor bibendum.</p>
                <button type="button" onclick="window.location.href='https://github.com/pakupek'">Github</button>
            </div>
            <img src="{% static 'images/github_default.png' %}">
            </div class="about-text">
                <h1>Mateusz Szelkowski</h1>
                <h5>Project <span>Designer</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis lectus ut arcu ultricies, in rutrum lorem tempus. Sed venenatis justo a dictum iaculis. Curabitur tincidunt quam eu ipsum commodo, ac hendrerit tortor bibendum.</p>
                <button type="button"  onclick="window.location.href='https://github.com/szel0'">Github</button>
            </div>
        </div>
    </section>
{% endblock %}