{% extends 'election/base.html' %}
{% block content %}
{% load static %}

        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/candidate.css' %}">
        <style>
            body{
                background: url("/media/pictures/glowing_4K.jpg") center fixed;
                background-size: cover;
            }
        </style>
   
        <section class="section">
            <div class="section__container">
                <div class="content">
                    <p class="subtitle">{{ candidate.party }}</p>
                    <h1 class="title">I'm<span>{{ candidate.name }}</span></h1>
                    <p class="description">
                        Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit. Mauris Nunc Arcu, 
                        Dignissim Sit Amet Sollicitudin Iaculis, Vehicula Id Urna. Sed Luctus Urna Nunc. 
                        Donec Fermentum, Magna Sit Amet Rutrum Pretium, Turpis Dolor Molestie Diam, Ut Lacinia Diam Risus Eleifend 
                        Sapien. Curabitur Ac Nibh Nulla. Maecenas Nec Augue Placerat, Viverra Tellus Non, Pulvinar Risus.
                    </p>
                    <div class="action__btns">
                        <a href="{{ candidate.get_delete_url }}"><button>Delete</button></a>
                        <a href="{{ candidate.get_update_url }}"><button>Update</button></a>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ candidate.picture.url }}"alt="profile">
                </div>
            </div>
        </section>
        

{{ candidate.name }}
{% if request.user.is_staff %}
    <a href="{{ candidate.get_delete_url }}">Delete</a>
    <a href="{{ candidate.get_update_url }}">Update</a>
{% endif %}
<img src="{{ candidate.picture.url }}" alt="">
{% endblock %}