{% extends 'election/base.html' %}

{% block content %}

    <div class="container text-center">
        <div class="row">
            {% load static %}
            <div class="col-md-4">
                <a href="https://github.com/tempestpulse" target="_blank">
                    <img src="{% static 'images/afroroger.jpg' %}" class="avatar" alt="Avatar 1">
                </a>
                <a href="https://github.com/tempestpulse" class="btn btn-primary btn-lg btn-block" target="_blank">GitHub</a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/szel0" target="_blank">
                    <img src="{% static 'images/github_default.png' %}" class="avatar" alt="Avatar 2">
                </a>
                <a href="https://github.com/szel0" class="btn btn-primary btn-lg btn-block" target="_blank">GitHub</a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/pakupek" target="_blank">
                    <img src="{%static 'images/pakupek.jpg' %}" class="avatar" alt="Avatar 3">
                </a>
                <a href="https://github.com/pakupek" class="btn btn-primary btn-lg btn-block" target="_blank">GitHub</a>
            </div>
        </div>
        
        <p>Skontaktuj się z nami również pod adresem email: example@example.com</p>
    </div>
{% endblock %}


