
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Głosowanie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron mt-5">
                <h1 class="display-4 text-center mb-5">Elections</h1>
                <div class="list-group">
                    {% for election in elections %}
                        <a href="{% url 'election:election-detail' election.id %}" class="list-group-item list-group-item-action">
                            {{ election.title }}
                            {% if election.pk in has_voted %}
                                <span class="badge badge-success ml-2">Voted</span>
                            {% endif %}
                        </a>
                    {% empty %}
                        <p class="text-center">No elections available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
