{% extends 'election/base.html' %}
{% load static %}

{% block content %}

<div class="video-container">
    <video autoplay loop muted>
        <source src="{% static 'videos/background_video.mp4' %}" type="video/mp4">
        <!-- Dodaj inne formaty wideo, jeśli to konieczne -->
    </video>
    <div class="overlay"></div> <!-- Dodaj przyciemnione tło -->
</div>


<div class="container text-center"> <!-- Centrowanie kontenera -->
    <div class="row" style="margin-top: 180px;">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron mt-5">
                <h1 class="display-4 text-center mb-5">Elections</h1>
                <div class="list-group">
                    {% for election in elections %}
                        <a href="{% url 'election:election-detail' election.id %}" class="list-group-item list-group-item-action">
                            {{ election.title }}
                            {% if election.pk in has_voted %}
                                <span class="badge badge-success ml-2">Voted</span>
                            {% endif %}
                        </a>
                    {% empty %}
                        <p class="text-center">No elections available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}