{% extends 'election/base.html'%}
{% block content %}
{% load static %}

        <link rel="stylesheet" href="{% static 'css/election_detail.css' %}">
        <style>
            body{
                background: url('/media/pictures/glowing_4K.jpg') no-repeat fixed center;
                background-size: cover;
                min-height: 200vh;
            }
        </style>
        <h2 class="title">{{ election.title }} 
            {% if not is_voter %}
            <a href="{% url 'election:voter-create' election.id %}"><button class="sign-in-btn" type="button">Sign in For Voting</button></a>
            {% else %}
            <button class="signed-in-btn" type="button">Signed In</button>
            {% endif %}
        </h2>
        
        <p class="election-description">{{ election.description }}</p>
        
        {% if candidates %}
        <main>
                <div class="row"> 
                    {% for candidate in candidates %}
                    <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 60px;">
                        <div class="card">
                            <img class="card-image" src="{{ candidate.picture.url }}" alt="Candidate Image">
                            <div class="card-info">
                                <div class="candidate-votes">
                                    <span class="votes-number">{{ candidate.vote_count }}</span>
                                    <span class="votes-text">VOTES</span>
                                </div>
                                <div class="line"></div>
                                <div class="candidate-info">
                                    <span class="candidate-name">{{ candidate.name }}</span>
                                    <span class="candidate-party">{{ candidate.party }}</span>
                                    <a href="{% url 'election:candidate-detail' pk=candidate.pk %}"><button class="button">Candidate detail</button></a>
                                </div>
                            </div>
                            <form method="post" action="{% url 'election:vote' election.id %}">
                                {% csrf_token %}
                                <button class="card-btn" type="submit" name="candidate" value="{{ candidate.id }}">VOTE</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </main>
        {% else %}
            <p style="text-align:center; justify-content:center; color:#fff;">No candidates available for this election.</p>
        {% endif %}
        
    
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}