<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<h1>{{ election.title }} 
    {% if not request.user.is_authenticated %}
    <a href="{% url 'election:voter-create' election.id %}">Signup For Voting</a></h1>
    {% endif %}
{% if candidates %}
    <form method="post" action="{% url 'election:vote' election.id %}">
        {% csrf_token %}
        {% for candidate in candidates %}
            <input type="checkbox" name="candidate" value="{{ candidate.id }}"> {{ candidate.name }} <br>
        {% endfor %}
        <button type="submit">Vote</button>
    </form>
{% else %}
    <p>No candidates available for this election.</p>
{% endif %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
